html{
	margin: 0px;
	padding 0px;
}

.loginbox
{
	border-radius: 4px;
	box-shadow: 0px 2px 10px #d6d6d6;
	margin: 100px auto;
	width: 320px;
	-webki-border-radius: 4px;
	-moz-border-radius: 4px;
}

input[type="submit"]
{
	margin-top: 14px;
}

.datos
{
	border-radius: 4px;
	background-color:  #ffffff;
	margin: 100px auto;
	width: 320px;
	-webki-border-radius: 4px;
	-moz-border-radius: 4px;
}